<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Race Car Inspection</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="my-inspections">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> My Inspections
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sop">
                <span class="oi oi-document" aria-hidden="true"></span> SOPs
            </NavLink>
        </div>
        @if (IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sync">
                    <span class="oi oi-cloud-upload" aria-hidden="true"></span> Sync Inspections
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <a class="nav-link" target="_blank" href="https://github.com/murphy55555/blazor-pwa">
                <span class="oi oi-code" aria-hidden="true"></span> Source Code
            </a>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public bool IsLoggedIn { get; set; }

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
