@page "/sop"
@using RaceCarInspection.Client.Services;
@inject IInspectionService inspectionService
@inject NavigationManager navigationManager;

<div class="mb-4">
    <span class="h3">Standard Operating Procedures</span>
</div>

<div class="list-group">
    @foreach (var sop in standardOperatingProcedures)
    {
        <NavLink href=@($"/sop/{sop.Id}") class="list-group-item list-group-item-action mb-2" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@sop.FileName</h5>
                <small>File Type: @sop.FileType</small>
            </div>
            <p class="mb-1">@sop.Description</p>
        </NavLink>
    }
</div>

@code {
    private List<RaceCarInspection.Shared.Models.StandardOperatingProcedure> standardOperatingProcedures = new List<RaceCarInspection.Shared.Models.StandardOperatingProcedure>();
    protected override async Task OnInitializedAsync()
    {
        standardOperatingProcedures = await inspectionService.GetStandardOperatingProcedures();
    }

    private string GetSOPDescription(RaceCarInspection.Shared.Models.StandardOperatingProcedure sop)
    {
        return $"File: {sop.FileName}";
    }
}
