<h3>Sync</h3>
@page "/sync"
@using RaceCarInspection.Client.Services;
@inject ISyncService syncService

@code {
    protected override async Task OnInitializedAsync()
    {
        await syncService.SyncData();
    }
}
